:root {
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

.header {
	background-color: #180e0b;
}

.header__content {
	display: flex;
	justify-content: space-between;
	padding: 30px;
}

.section__container {
	max-width: 1280px;
	margin: 0 auto;
}

.main__title {
	color: #ffffff;
	font-size: 20px;
}

.nav__bar {
	padding-top: 5px;
}

.nav__list {
	display: flex;
}

.nav__items {
	margin: 0 10px;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
}

.home__button {
	padding: 5px;
	border-radius: 5px;
	background-color: #56c9d6;
}

.image {
	height: 470px;
	background-size: 100%;
	background-image: url(../img/Banner.jpg);
}

.card__list {
	display: flex;
	margin: 34px 0;
}

.card__list .card__titles {
	margin: 15px 0;
	font-size: 20px;
	font-weight: 600;
}

.card__list .card__paragraphs {
	font-size: 100%;
	color: #000000;
	line-height: 1.6;
	font-weight: 500;
}

.articles__section {
	background-color: #372019;
}

.articles__section .picture {
	float: left;
	margin-right: 10px;
}

.articles__section .articles__content {
	display: flex;
	justify-content: space-between;
	padding: 34px 0;
}

.articles__section .article__titles {
	font-size: 20px;
	color: #c0745d;
	margin: 15px 0;
}

.articles__section .article__list {
	max-width: 200px;
}

.articles__section .last__article {
	max-width: 449px;
}

.articles__section .article__items {
	margin-bottom: 20px;
}

.articles__section .article__paragraphs {
	color: #7b4738;
	margin-top: 15px;
}

.about__us {
	background-color: #261611;
}

.about__content {
	display: flex;
	justify-content: space-between;
}

.aboutUS__titles {
	color: #c0745d;
	font-size: 20px;
	margin-top: 34px;
}

.about__content p {
	margin: 15px 0;
	line-height: 1.6;
	color: #a06450;
}

.aboutUs__width {
	max-width: 650px;
}

.aboutUS__list {
	margin-top: 20px;
}

.aboutUS__items {
	color: #a06450;
}

.aboutUS__items:hover {
	text-decoration: none;
}

.footer {
	padding: 34px;
	text-align: center;
	background-color: #180e0b;
}

.footer .footer__content {
	color: #6e3f31;
	font-size: 20px;
}

.footer__content:hover {
	text-decoration: none;
}